<section>
  <div class="producto">
    <img [src]= "'https://labarrosa-admin-production.up.railway.app/' + producto?.imagePath" alt="">
    <div class="descripcion">
      <h3><span>Nombre del producto:</span> {{ producto?.title }}</h3>
      <h3><span>Categoría:</span> {{ producto?.categoria }}</h3>
      <h3><span>Precio:</span> {{ producto?.precio | currency }}</h3>
      <h5><span>Descripción del producto:</span> {{ producto?.description }}</h5>
    </div>
  </div>
  <button (click)="agregarAlCarrito()">
    Agregar al carrito
  </button>
</section>
