<app-spinner></app-spinner>
<div class="header">
  <div class="logo">
    <img class="logotipo" src="../assets/img/logo.png" alt="logo">
  </div>
  <div class="botones">
    <ng-container *ngIf="!auth.logedIn(); else logOut">
      <a class="sesion" routerLink="/login">Iniciar sesión</a>
      <a class="registro" routerLink="/registro">REGISTRARSE</a>
    </ng-container>
    <ng-template #logOut>
      <button class="registro" (click)="auth.logOut()">LOG OUT</button>
    </ng-template>
  </div>
</div>
<nav>
  <input type="checkbox" id="click">
  <label for="click" class="menu-btn">
    <i class="fas fa-bars"></i>
  </label>
  <ul>
    <li>
      <a routerLink="/home">Inicio</a>
    </li>
    <li>
      <a routerLink="/productos">Productos</a>
    </li>
    <li>
      <a routerLink="/usuario">Usuario</a>
    </li>
    <li>
      <a routerLink="/contacto">Contáctenos</a>
    </li>
    <a routerLink="/carrito">
      <li>
        <i class="fas fa-shopping-cart"></i>
        <div class="circuloCompra">{{ producto.productosCarrito.length }}</div>
      </li>
    </a>
    <li>
      <a routerLink="/pedidos">Mis Pedidos</a>
    </li>
  </ul>
</nav>
<div *ngIf="auth.user === 'false'" class="warning">
  <h5>Por favor, verifica tu usuario lo antes posible antes de continuar navegando por la app.</h5>
</div>
<router-outlet></router-outlet>
<footer>
  <div (click)="getUser()" class="footer">
    <div class="redes">
      <h2>Contacto</h2>
      <div class="contacto">
        <i class="far fa-envelope"></i>
        <p>andres_fiorio@hotmail.com</p>
      </div>
      <div class="contacto">
        <i class="fab fa-whatsapp"></i>
        <p>+5492477358701</p>
      </div>
      <div class="contacto">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
      </div>
    </div>
    <button routerLink="/productos">COMPRAR<br>AHORA</button>
  </div>
  <div  style="text-align: center;margin:30px auto;">
    <h3 style="color: white;font-family:sans-serif;font-weight: 400">La Barrosa @2023</h3>
    <h3 style="color: rgb(221, 220, 220);font-family:sans-serif;font-weight: 400">Todos los derechos reservados</h3>
  </div>
</footer>
