<div class="contenedor">
  <div class="buscador">
    <form (ngSubmit)="submitForm(busquedaForm.value)" #busquedaForm="ngForm">
      <input type="text" placeholder="Producto" name="producto" ngModel>
      <input type="submit" value="Buscar">
    </form>
    <div class="categorias">
      <h2>Buscar por Categorías</h2>
      <h3 (click)="mostrarValor('Todos los productos')">Todos los productos</h3>
      <h3 (click)="mostrarValor('Fanales')">Fanales</h3>
      <h3 (click)="mostrarValor('Platos')">Platos</h3>
      <h3 (click)="mostrarValor('Macetas')">Macetas</h3>
      <h3 (click)="mostrarValor('Jarrones')">Jarrones</h3>
      <h3 (click)="mostrarValor('Porta Tortas')">Porta Tortas</h3>
    </div>
  </div>
  <div class="productos" *ngIf="!filter">
    <div class="producto"  (click)="producto._id && selectedCard(producto._id)" *ngFor="let producto of productos">
      <img [src]= "'https://labarrosa-admin-production.up.railway.app/' + producto.imagePath" alt="">
      <div class="descripcion">
        <h3>{{ producto.title }}</h3>
        <span>{{ producto.categoria }}</span>
        <h3>{{ producto.precio | currency }}</h3>
        <h5>{{ producto.description }}</h5>
      </div>
    </div>
  </div>
  <div class="productos" *ngIf="filter">
    <div *ngIf="filteredProductos.length !== 0">
      <div class="producto"  (click)="producto._id && selectedCard(producto._id)" *ngFor="let producto of filteredProductos">
        <img [src]= "'https://labarrosa-admin-production.up.railway.app/' + producto.imagePath" alt="">
        <div class="descripcion">
          <h3>{{ producto.title }}</h3>
          <span>{{ producto.categoria }}</span>
          <h3>{{ producto.precio | currency }}</h3>
          <h5>{{ producto.description }}</h5>
        </div>
      </div>
    </div>
    <div class="mensajeValor" *ngIf="filteredProductos.length === 0">
      <h1>No se han encontrado resultados para la busqueda "{{ valor }}"</h1>
    </div>
  </div>
</div>
