.login{
  margin: 40px auto ;
  padding: 0 25%;
}

.logo{
display: flex;
align-items: flex-end;
justify-content: center;
gap: 10px;
}

.logo .logotipo{
width: 80%;
}

.ingreso{
  background-color: #212121;
  padding: 50px ;
  border-radius: 65px;
  font-family: sans-serif;
  color:white;
  position: relative;
}

.formulario{
margin-top: 30px;
}

form{
display: flex;
flex-direction: column;
gap: 20px;
}

input[type="email"], input[type="password"], input[type="text"]{
width: 100%;
padding-left: 10px;
color: #212121;
border-radius: 9px;
border: none;
height: 35px;
font-size: 20px;
}

input[type="submit"]{
width: 100%;
padding: 10px;
text-align: center;
background: linear-gradient(#ffde80, #f7aa5f);
border: none;
border-radius: 25px;
font-size: 17px;
}

.olvidaste{
width: 100%;
display: flex;
justify-content: flex-end;
}

.sinCuenta{
display: flex;
flex-direction: column;
gap: 10px;
width: 100%;
text-align: center;
}

/*#f7aa5f*/

span{
  color: #f7aa5f
}

.pie{
text-align: center;
color: white;
}

@media (max-width:420px){
  .login{
    padding: 0 5%;
  }
  .logo .logotipo{
    width: 30%;
  }
  .logo .hbm{
    width: 45%;
  }
  .ingreso{
    padding: 35px;
  }
  .ingreso h1{
    font-size: 26px;
  }
  .imagenLapicera, .imagenOro{
    display: none;
  }
  input[type="email"], input[type="password"], input[type="text"]{
    width: 100%;
    font-size: 13px;
  }
  .olvidaste, input[type="submit"], .sinCuenta{
    width: 100%;
  }
  .pie{
    margin-left: 0%;
    text-align: center;
  }
  .pie h3{
    font-size: 15px;
  }
}
