.conteinerProyecto{
  display: flex;
  flex-direction: column;
  padding: 100px 10%;
}

.titleProyecto{
  display: flex;
}

.titleProyecto span{
  margin-top: -10px;
  margin-right: 5px;
}

.bodySwiper{
  margin-top: 50px;
}

.jarronLindo, .jarronRojo, .jarronesMano, .pastito, .pastito2, .turquesa, .turquesa2, .turquesa3, .foto1, .foto2, .foto3, .foto4, .foto5, .foto6, .foto7, .foto8, .foto9, .foto10, .foto11, .foto12{
  margin-left:80px;
  border-radius:10px;
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
}

.jarronLindo{
  background-image: url("./assets/img/jarron-lindo.jpeg");
}

.jarronRojo{
  background-image: url("./assets/img/jarron-rojo.jpeg");
}

.jarronesMano{
  background-image: url("./assets/img/jarrones-mano.jpeg");
}

.pastito{
  background-image: url("./assets/img/pastito.jpeg");
}

.pastito2{
  background-image: url("./assets/img/pastito2.jpeg");
}

.turquesa{
  background-image: url("./assets/img/turquesa.jpeg");
}

.turquesa2{
  background-image: url("./assets/img/turquesa2.jpeg");
}

.turquesa3{
  background-image: url("./assets/img/turquesa3.jpeg");
}

.foto1{
  background-image: url("./assets/img/foto1.jpeg");
}

.foto2{
  background-image: url("./assets/img/foto2.jpeg");
}

.foto3{
  background-image: url("./assets/img/foto3.jpeg");
}

.foto4{
  background-image: url("./assets/img/foto4.jpeg");
}

.foto5{
  background-image: url("./assets/img/foto5.jpeg");
}

.foto6{
  background-image: url("./assets/img/foto6.jpeg");
}

.foto7{
  background-image: url("./assets/img/foto7.jpeg");
}

.foto8{
  background-image: url("./assets/img/foto8.jpeg");
}

.foto9{
  background-image: url("./assets/img/foto9.jpeg");
}

.foto10{
  background-image: url("./assets/img/foto10.jpeg");
}

.foto11{
  background-image: url("./assets/img/foto11.jpeg");
}

.foto12{
  background-image: url("./assets/img/foto12.jpeg");
}
/*
SECTION 4*/

.tecnologies{
  width: 100%;
  background-color: #101010;
  color: whitesmoke;
}

.titleTech{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.ferias{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 30px;
}

.feria{
  width: 450px;
  padding: 20px;
  background-color: #212121;
  border-radius: 15px;
}

.feria img{
  width: 100%;
}

.texto h5{
  color: white;
  letter-spacing: 1px;
  margin-top: 10px;
}

.feriaUltima{
  height: 145px;
  background-color: #212121;
  border-radius: 15px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
SECTION 5
*/

.contactMe{
  width: 100%;
  background-color: #101010;
  color: whitesmoke;
}

.contactMe a{
  color: whitesmoke;
}

.contactWe{
  gap: 15px;
}

.contactWe svg{
  color: #f7aa5f;
}

.contactW{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border: 2px solid #f7aa5f;
  border-radius: 7px;
  gap: 10px;
  transition: all 0.4s;
}

.contactW:hover{
  background-color: #1818189d;
  transition: all 0.4s;
}

/*
FOOTER*/

.footer{
  width: 100%;
  background-color: black;
  color: whitesmoke;
}
.conteinerFooter{
  display: flex;
  flex-direction: column;
  padding: 50px 10% 50px 10%;
}

.conteinerFooter h2{
  color: #f7aa5f;
  margin-bottom: 10px;
}

.conteinerFooter h5{
  color:whitesmoke
}

.buttonApp{
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px 12px;
  text-align: center;
  color: #1b1a1a;
  background: linear-gradient(#ffde80, #f7aa5f);
  border-radius: 8px;
}
