@media (min-width:1400px){
  .container img{
    width: 26%;
    bottom: -46px;
  }
  .division{
    padding: 70px;
    margin-top: -80px;
  }
  .divisionn img{
    width: 85%;
    margin-top: -15px;
  }
  .divisiones{
    gap: 140px;
  }
  .division2, .division3{
    padding: 40px;
  }
  .imagenDerecha{
    gap: 90px;
  }
  .imagenIzquierda{
    gap: 80px;
  }
  h6{
    font-size: 20px;
  }
  .texto{
    padding-top: 0px;
  }
  .fondoCapitales p{
    font-size: 22px;
  }
  .parrafo h1{
    font-size: 50px;
  }
  .parrafo p{
    font-size: 25px ;
  }
  .parrafo{
    margin-top: 50px;
  }
  .imagenLapicera img{
    width: 33%;
  }
  .imagenOro img{
    width: 50%;
    top: 60%;
  }
  input[type="text"], input[type="email"], input[type="password"]{
    height: 50px;
    border-radius: 15px;
  }
  textarea{
    height: 120px;
  }
  .areas button{
    padding: 40px 30px;
  }
  .lingotes{
    bottom: -55px;
  }
  .lingote{
    bottom: -40px;
  }
}

@media (max-width:769px) {
  .swiper-container{
    margin-top: 0px;
  }
  .descripcion{
    width: 350px;
  }
  section{
    overflow-x: hidden;
  }
  .ejemplos{
    flex-direction: column;
  }
  .contenedorFrecuente{
    width: 300%;
  }
  i{
    font-size: 45px;
  }
  .texto h2{
    font-size: 18px;
  }
}

@media (max-width:600px){
  .categoria img{
    width: 70px;
    height: 70px;
  }
  .categoria h3{
    font-size: 15px;
  }
  .caracteristicas{
    flex-direction: column;
  }
  .caracteristica{
    margin-top: 30px;
  }
  br{
    display: none;
  }
  .contenedorFrecuente{
    width: 395%;
  }
  .descripcionFrecuente{
    height: 200px;
  }
}

@media (max-width: 500px){
  .image4{
    right: 210px;
  }
  .image1{
    bottom: -15px;
  }
  .image3{
    right: 350px;
    bottom: -35px;
  }
}

@media (max-width: 430px) {
  .categoria h3{
    font-size: 11px;
  }
  .plato h4{
    font-size: 12px;
  }
  .image4{
    right: 180px;
  }
  .descripcion{
    gap: 3%;
  }
  .descripcion h2{
    font-size: 18px;
  }
  .descripcion span{
    font-size: 12px;
  }
  .descripcion p{
    font-size: 14px;
  }
}
