<footer>
  <div class="footer">
    <div class="redes">
      <h2>Contacto</h2>
      <div class="contacto">
        <i class="far fa-envelope"></i>
        <p>andres_fiorio@hotmail.com</p>
      </div>
      <div class="contacto">
        <i class="fab fa-whatsapp"></i>
        <p>+5492477358701</p>
      </div>
      <div class="contacto">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
      </div>
    </div>
    <button routerLink="/productos">COMPRAR<br>AHORA</button>
  </div>
  <div  style="text-align: center;margin:30px auto;">
    <h3 style="color: white;font-family:sans-serif;font-weight: 400">La Barrosa @2023</h3>
    <h3 style="color: rgb(221, 220, 220);font-family:sans-serif;font-weight: 400">Todos los derechos reservados</h3>
  </div>
</footer>
